:root {
	--ui-pri-bg: #fff;
	--ui-pri-fg: #444;
	--ui-sec-bg: #ccc;
	--ui-sec-fg: #444;
	--ui-effect: rgba(0, 0, 0, 0.25);
	--ui-shadow: rgba(0, 0, 0, 0.125);
	--ui-highlight-bg: #fff;
	--ui-highlight-fg: #444;
	--ui-icon-color: inherit;
	--ui-icon-highlight: inherit;
	--ui-bg: #fff;
	--menuHeight: 48px;
	--buttonBarHeight: 64px;
}

/*ui-view * {*/
/*	overflow-anchor: none;*/
/*}*/

ui-element {
	display: inline-block;
}

ui-block {
	display: block;
}

ui-inline {
	display: inline;
}

ui-inline img {
	max-height: 100%;
	vertical-align: middle;
}

ui-inline:empty {
	display: none;
}

ui-view {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	max-height: 100vh;
	overflow: auto;
	background: var(--ui-bg);
}

ui-view.full {
	position: fixed;
}

ui-content-fill {
	position: relative;
	display: block;
	z-index: 0;
	top: 0px;
	left: 0px;
	right: 0px;
	min-height: calc(100vh - 112px);
	padding: 8px;
}

ui-actionbar {
	position: sticky;
	display: block;
	background: var(--ui-pri-bg);
	color: var(--ui-pri-fg);
	z-index: 1;
	width: 100%;
	left: 0px;
	right: 0px;
	height: var(--menuHeight);
	line-height: var(--menuHeight);
	white-space: nowrap;
	user-select: none;
	webkit-user-select: none;
}

ui-actionbar > * {
	vertical-align: middle;
}
ui-actionbar[hook="top"] {
	top: 0px;
	box-shadow: 0 5px 5px var(--ui-shadow);
}
ui-actionbar[hook="bottom"] {
	bottom: 0px;
	box-shadow: 0 -3px 5px var(--ui-shadow);
}

ui-actionbar[slim] {
	height: 35px;
	line-height: 34px;
}
ui-actionbar[slim] img {
	vertical-align: middle;
	max-height: 34px;
}

ui-button,
ui-file-item,
ui-button-counter {
	position: relative;
	display: inline-block;
	min-height: var(--menuHeight);
	line-height: var(--menuHeight);
	padding: 0 8px;
	outline: 0px;
	cursor: pointer;
	color: inherit;
	background: inherit;
	user-select: none;
	webkit-user-select: none;
	box-sizing: border-box;
}

ui-button-counter {
	padding: 0 16px;
}
ui-button-counter [type="counter"] {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 1.5em;
	width: 1.5em;
	line-height: 1.5em;
	font-size: 0.8em;
	text-align: center;

	border-radius: 100%;
	color: var(--ui-highlight-fg);
	background: var(--ui-highlight-bg);
}
ui-button-counter:empty {
	opacity: 0;
}

ui-button ui-icon,
ui-file-item ui-icon,
ui-button-counter ui-icon {
	height: 1.5em;
	line-height: 1.5em;
	max-width: 1.5em;
	color: var(--ui-icon-color);
}

[slim] > ui-button ui-icon,
[slim] > ui-button-counter ui-icon {
	color: var(--ui-icon-color);
	margin-top: 0px;
}
[slim] > ui-button {
	margin-top: 0px;
}

ui-button > * {
	pointer-events: none;
}

ui-icon[size="tiny"] {
	width: 24px;
	height: 24px;
	font-size: 1em;
}

ui-file-item {
	display: block;
	white-space: nowrap;
}

[slim] > ui-file-item ui-icon {
	height: 26px;
	line-height: 25px;
	color: var(--ui-icon-color);
}
[slim] ui-file-item {
	min-height: 26px;
	line-height: 26px;
}

effect-base {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	pointer-events: none;
}

effect-ripple {
	position: absolute;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
	transform: scale(0.01, 0.01);
	width: 10px;
	height: 10px;
	z-index: 2;
	background: var(--ui-effect);
	border-radius: 100%;
}

effect-ripple[active] {
	opacity: 0;
	transform: scale(40, 40);
	animation: ripple 330ms;
	/*animation-fill-mode: forwards;*/
	/*transition: all 300ms linear;*/
}

ui-button:focus {
	background: rgba(0, 0, 0, 0.125);
}

ui-actionbar ui-panel {
	display: block;
	position: absolute;
	background: var(--ui-sec-bg);
	color: var(--ui-sec-fg);
	right: 8px;
	width: 280px;
	box-shadow: 0 5px 5px var(--ui-shadow);
	max-width: 90%;
	top: 100%;
	z-index: 2;
}

ui-actionbar:not([open]) ui-panel {
	opacity: 0;
	width: 0px;
	height: 0px;
}

ui-actionbar[open] ui-panel {
	transition: all 300 linear;
	opacity: 1;
	width: auto;
	height: auto;
}

ui-actionbar[hook="bottom"] ui-panel {
	top: auto;
	bottom: 100%;
	box-shadow: 0 -5px 5px var(--ui-shadow);
}

ui-actionbar ui-panel > ui-inline,
ui-actionbar ui-panel > ui-button,
ui-actionbar ui-panel > ui-button-counter {
	float: none !important;
	display: block;
	min-width: 120px;
}

ui-actionbar ui-panel ui-button:hover {
	background: var(--ui-highlight-bg);
	color: var(--ui-highlight-fg);
}
ui-actionbar ui-panel ui-button:hover ui-icon {
	color: var(--ui-icon-highlight);
}

ui-view ui-button,
ui-view ui-button-counter {
	min-height: var(--menuHeight);
	line-height: var(--menuHeight);
	padding: 0 8px;
}

ui-view ui-button-counter {
	padding: 0 16px;
}

ui-button ui-inline,
ui-button-counter ui-inline {
	vertical-align: middle;
	margin-left: 5px;
}

ui-actionbar > ui-button,
ui-actionbar > ui-button-counter,
ui-actionbar > ui-inline {
	min-height: var(--menuHeight);
	line-height: var(--menuHeight);
}

ui-actionbar[slim] > ui-button,
ui-actionbar[slim] > ui-button-counter,
ui-actionbar[slim] > ui-inline {
	min-height: 33px;
	line-height: 33px;
}

ui-tabbar[slim] {
	height: 39px;
}
ui-tabbar[slim] > ui-button {
	min-height: 39px;
	height: 39px;
}
ui-tabbar[slim] > ui-button ui-icon {
	line-height: 39px;
}

ui-button[active],
ui-button-counter[active] {
	background: var(--ui-highlight-bg);
	color: var(--ui-highlight-fg);
}

ui-button[disabled] {
	opacity: 0.33;
	background: var(--ui-highlight-bg);
	cursor: not-allowed;
	filter: brightness(0.9);
}

ui-actionbar [multiline] > ui-inline {
	display: inline-block;
	line-height: 20px;
}
ui-actionbar > ui-inline {
	display: inline-block;
}

ui-tabbar {
	overflow-y: hidden;
	overflow-x: auto;
	display: table-row;
}

ui-tabbar[slim] {
	height: 39px;
}
ui-tabbar[slim] > ui-tab-item {
	display: inline-block;
	cursor: pointer;
	position: relative;
	min-height: 30px;
	line-height: 32px;
	background: var(--ui-sec-bg);
	color: var(--ui-highlight-fg);
	margin-top: 6px;
	padding-right: 0px;
	white-space: nowrap;
}

ui-tabbar[slim] > ui-tab-item::before {
	display: inline-block;
	width: 2px;
}

ui-tabbar[slim] > ui-tab-item ui-inline {
	pointer-events: none;
	margin-left: 8px;
}
ui-tabbar[slim] > ui-tab-item[active] {
	background: var(--ui-highlight-bg);
}

ui-tabbar[slim] > ui-tab-item ui-icon[close] {
	vertical-align: middle;
	line-height: 30px;
	height: 32px;
	text-align: center;
	margin-left: 6px;
	width: 22px;
}
ui-tabbar[slim] > ui-tab-item ui-icon[close]:hover {
	text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);
}

ui-tabbar[dragging] > ui-tab-item {
	transition: margin 150ms ease-in-out;
}
ui-tabbar[dragging] > ui-tab-item ui-inline {
	opacity: 0.75;
}
ui-tabbar[dragging] > ui-tab-item ui-icon {
	pointer-events: none;
	opacity: 0.75;
}

ui-tabbar::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

[hook="left"] {
	float: left;
}
[hook="right"] {
	float: right;
}
[hook="right"]:first-child,
[overflow] {
	margin-right: 8px;
}

ui-file-list {
	position: relative;
	display: block;
	background: #eeeeee;
	z-index: 0;
	height: calc(100vh - 108px);
	padding: 0px;
}

ui-file-list > .inner {
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 3px solid transparent;
	overflow-y: auto;
}

ui-file-list > .inner.hover {
	/*background:#0af;*/
	border: 3px dashed #0af;
	border-radius: 16px;
}

ui-file-list > .inner > a {
	/*background: center center no-repeat;*/
	display: inline-block;
	position: relative;
	background: #fff;
	margin: 4px;
	width: calc(20% - 24px);
	min-height: 100px;
	border: 8px solid #fff;
	border-radius: 8px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	text-decoration: none;
}

ui-file-list > .inner > * > label {
	position: absolute;
	background: rgba(255, 255, 255, 0.75);
	font-size: 12px;
	height: 9px;
	padding: 4px;
	color: #333;
	left: 0px;
	right: 0px;
	bottom: 0px;
	overflow: hidden;
}

ui-file-list > .progress {
	display: inline-block;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 5%;
	max-height: 5px;
	height: 0px;
	background: #0af;
	transition: width 333ms ease-in-out, height 333ms ease-in-out;
}

ui-file-list > .inner > ui-file-item:not(:first-child) {
	border-top: 1px solid var(--ui-shadow);
	padding-top: 4px;
	margin-top: 4px;
}

ui-file-list > ui-icon.indexing {
	position:absolute;
	bottom:4px;
	right:4px;
	animation: pulse 1000ms;
	transition: opacity 333ms ease-in-out;
	animation-iteration-count: infinite;
	cursor:default;
}



ui-file-item > ui-icon:first-child,
ui-file-item > ui-inline {
	pointer-events: none;
}

ui-file-item > ui-inline {
	display: inline-block;
	text-overflow: ellipsis;
	overflow-x: clip;
	vertical-align: middle;
	margin-left: 4px;
}

ui-file-item[open] > ui-inline {
	width: calc(100% - 45px);
}

ui-file-item:focus {
	background: rgba(0, 0, 0, 0.125);
}

ui-file-item[active] {
	background: rgba(0, 0, 0, 0.4);
	color: var(--ui-sec-fg);
}

ui-file-item[active] ui-icon {
	color: inherit;
}

@font-face {
	font-family: "Material Icons Outlined";
	font-style: normal;
	font-weight: 400;
	src: url(//tools.jakbox.net/material-icons.woff2)format("woff2");
}

ui-file-item[loading] {
	animation: pulse 1000ms;
	transition: opacity 333ms ease-in-out;
	animation-iteration-count: infinite;
}

/* Google Material Icon fonts */
ui-icon {
	font-family: "Material Icons";
	font-weight: normal;
	font-style: normal;
	font-size: 1.5em; /* Preferred icon size */

	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	vertical-align: middle;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: "liga";
}

ui-file-item ui-icon {
    font-size: 1.6em;
}

ui-menu {
	position: absolute;
	left: 0px;
	top: 0px;
	transition: opacity 200ms ease-in-out;
	z-index: 100;
	background: var(--ui-pri-bg);
	color: var(--ui-pri-fg);
	box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
	border-radius: 0px 2px 4px 4px;
	overflow-y: auto;
}

ui-menu[left] {
	border-radius: 2px 0px 4px 4px;
}
ui-menu[up] {
	border-radius: 4px 4px 0px 2px;
	box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.25);
}
ui-menu[up][left] {
	border-radius: 4px 4px 0px 2px;
}

ui-menu:not([active]) {
	display: none;
}

ui-menu ui-menu-item {
	position: relative;
	cursor: pointer;
	min-height: 36px;
	line-height: 42px;
	padding: 0 16px;
	display: block;
	white-space: nowrap;
}

ui-menu[slim] ui-menu-item {
	min-height: 24px;
	line-height: 24px;
}

ui-menu ui-menu-item ui-inline {
	vertical-align: middle;
}
ui-menu ui-menu-item ui-inline[hook="right"] {
	opacity: 0.5;
	margin-left: 25px;
}
ui-menu ui-menu-item:hover {
	background: var(--ui-sec-bg);
	color: var(--ui-sec-fg);
}

ui-menu ui-menu-item ui-icon {
	margin-left: -8px;
	width: 24px;
	min-height: 36px;
	line-height: 32px;
	font-size: 20px;
	vertical-align: middle;
	color: var(--ui-sec-bg);
}

ui-menu[slim] ui-menu-item ui-icon {
	min-height: 24px;
	line-height: 24px;
}

ui-menu ui-menu-item:hover ui-icon {
	color: var(--ui-pri-fg);
	opacity: 0.5;
}

ui-menu-item:first-child {
	border-radius: 0 2px 0 0;
}
ui-menu-item:last-child {
	border-radius: 0 0 4px 4px;
}

ui-menu-split {
	display: block;
	height: 1px;
	background: var(--ui-sec-bg);
	width: 96%;
	margin: 2px auto;
}

ui-panel img {
	vertical-align: middle;
	margin-top: -0.2em;
}

ui-panel[type="modal"] {
	position: fixed;
	display: relative;
	z-index: 101;
	top: 33%;
	left: 33%;
	width: 33%;
	height: 33%;
	background: var(--ui-pri-bg);
	box-sizing: border-box;
	border-radius: 8px;
	padding: 8px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
	overflow-y: auto;
}

ui-panel[type="modal"] ui-inner {
	padding: 16px;
	overflow-y: auto;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: var(--menuHeight);
}

ui-panel[type="modal"] ui-actionbar {
	position: absolute;
	bottom: 0px;
	padding: 8px 0;
	box-shadow: none;
	height: var(--menuHeight);
}
ui-panel[type="modal"] ui-actionbar ui-button {
	min-width: 64px;
	text-align: center;
}
ui-panel[type="modal"][blank] + ui-blank {
	display: none;
	content: "";
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0, 0, 0, 0.125);
}

ui-panel[type="modal"][blank][active] + ui-blank {
	display: block;
}

ui-panel[type="modal"] h1,
ui-panel[type="modal"] h2 {
	text-align: center;
}
ui-panel[type="modal"] h1 small {
	margin-top: 0.2em;
	font-size: 0.5em;
	/*color: var(--ui-sec-fg);*/
}

@keyframes ripple {
	0% {
		background: var(--ui-effect);
		transform: scale(0.01, 0.01);
		opacity: 1;
	}
	99% {
		background: var(--ui-effect);
		transform: scale(40, 40);
		opacity: 0;
	}
}

@keyframes pulse {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.125;
	}

	100% {
		opacity: 1;
	}
}

#drawer {
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	width:100%;
	background: var(--ui-pri-bg);
	box-shadow: 0 -5px 5px var(--ui-shadow);
}

ui-media-view {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 5;
	background: linear-gradient(45deg, rgba(0,0,0,0.05) 25%, transparent 25%), linear-gradient(-45deg, rgba(0,0,0,0.1) 25%, transparent 25%), linear-gradient(45deg, transparent 75%, rgba(0,0,0,0.05) 75%), linear-gradient(-45deg, transparent 75%, rgba(0,0,0,0.1) 75%);
	background-size: 20px 20px;
	background-color: var(--mid);
	display: none;
}

ui-media-view img {
	box-shadow: 0px 0px 50px rgba(0,0,0,0.5);
}