:root {
	/*--theme: #00aabb;*/
	--light: #fff;
	--high: #dadada;
	--mid: #afafaf;
	/*--dark: #272822;*/
	--low: #455155;
	--dark: #384144;
	--animRate:250ms;
	--tabRadius: 4px 4px 0 0;
	--tabHeight: 37px;
	--menuHeight: 34px;
	--statusHeight: 34px;
	--editorTop: calc(var(--tabHeight) + var(--menuHeight) + 2px);
	--ui-icon-color: var(--mid);
}

a,
a:visited {
	color: var(--theme);
	text-decoration:none;
}

#ace_settingsmenu, #kbshortcutmenu {
	top: var(--editorTop);
	bottom: var(--menuHeight);
	box-shadow:none;
	width: 400px;

}
tr.ace_optionsMenuEntry { line-height:1.5em; font-size:14px; }

button { border:0; }

body {
	font-family:system-ui, roboto, arial, sans;
	font-size:13px;
    overflow: hidden;
	background:var(--light);
	margin:0; padding:0;
}

ui-action-bar #logo {
	margin-left:8px;
}

ui-tab-item:not([active])::after { 
    display:inline-block;
    position:absolute;
    opacity:1;
    width:1px;
    height:20px;
    margin-top:4px;
    /*vertical-align:middle;*/
    content: '';
    overflow:hidden;
    background-color:var(--mid);
    transition: opacity 200ms ease-in-out;
}

/*ui-tab-item[active] + ui-tab-item::after { opacity:0; }*/

ui-tabbar[slim]>ui-tab-item { 
	border-radius: 4px 4px 0 0; background:none; 
	color: inherit;
	border: 0px; transition: background 200ms ease-in-out; }
ui-tabbar[slim]>ui-tab-item[active] {  background: var(--theme);  border:0px; color: var(--light)}
/*ui-tabbar[slim]>ui-tab-item:hover+ui-tab-item { background: var(--dark);  }*/
ui-tabbar[slim]>ui-tab-item:not([active]):hover {
	background: var(--high);
}
ui-tabbar[slim]>ui-tab-item[active]:hover {
	filter:brightness(1.1);
}
ui-tab-item:hover::after {
	opacity:0;
}
#ui_editor {
	opacity:1;
	transition:opacity 333ms;
    margin: 0;
    position: absolute;
    top: var(--editorTop);
    bottom: var(--statusHeight);
    left: 0;
    right: 0;
    line-height:1.3em;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#editor {
    margin:0;
    height:100%;
    width:100%;
}

.ace_scrollbar::-webkit-scrollbar {
	width: .66em; height: .66em;
}

.ace_scrollbar-v::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.ace_scrollbar::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	border-radius:4px;
}

#ui_editor.loading {
	opacity:0;
}

#ui_thumbstrip {
	
	opacity:1;
	transition:opacity 333ms;
    margin: 0;
    position: absolute;
    top: var(--editorTop);
    bottom: 24;
    width:128;
    right: 0;
    line-height:1.2em;
    display:none;
}

#ui_thumbstrip.loading {
	opacity:0;
}


header {
	background: var(--theme);
}

header>* {
	display:inline-block;
}

header button {
	font-weight:bold;
	background: var(--theme);
	height:30px;
	margin:3px 0;
	pointer-events:none;
	border-right:1px solid rgba(0,0,0,0.75);
	margin-right:5px;
}

header button img {
	height:32px;
	vertical-align:middle;
	margin-top:-4px;
}

header nav {
	/*font-family:roboto, arial, sans;*/
	color:var(--light); }

ui-actionbar#menu {
	min-height: env(titlebar-area-height, 32px);
	margin-left: env(titlebar-area-x, 0);
	z-index:6;
	background: var(--theme);
	-webkit-app-region: drag;
	app-region: drag;
}

ui-actionbar#menu ui-inline:first-of-type {
	color:#000;
	border-right: 1px solid rgba(0,0,0,0.5);
	padding-right:8px;
}

ui-actionbar#menu ui-inline:first-of-type img {
	margin-top: -4px;
}

ui-actionbar[slim]#tabs,
ui-actionbar[slim]#fileActions {
	padding:5px 0 0 0;
}

ui-actionbar#menu ui-button {
	color:#fff
	-webkit-app-region: no-drag;
	app-region: no-drag;

}

ui-actionbar#menu ui-panel ui-button {
	color:#444
}

ui-button ui-icon {
    color: var(--theme);
}
ui-button {
    margin:0 2px;
}

ui-button:hover {
    filter: brightness(0.92)
}

ui-button.themed {
    border-radius: 8px;
    background: var(--theme);
    color: var(--light);
}
ui-button.themed ui-icon {
    color: inherit;
}

ui-button.cancel {
    border-radius: 8px;
    color: #777;
}
ui-button.cancel ui-icon {
    color: inherit
}


ui-panel.slideUp {
    transition: margin-bottom 200ms ease-in-out, opacity 200ms ease-in-out;
    margin-bottom: -50vh;
    opacity:0;
    pointer-events: none;
}

ui-panel.slideUp[active] {
    margin-bottom: 0vh;
    opacity:1;
    pointer-events: initial;
}

ui-panel.slideDown {
    transition: margin-top 200ms ease-in-out, opacity 200ms ease-in-out;
    margin-top: -50vh;
    opacity:0;
    pointer-events: none;
}

ui-panel.slideDown[active] {
    margin-top: 0vh;
    opacity:1;
    pointer-events: initial;
}

ui-menu[slim] ui-menu-item[icon="done"]:not(:hover) {
	color: var(--light);
	background:var(--theme);
}
ui-menu[slim] ui-menu-item[icon="done"]:not(:hover) ui-icon {
	color: var(--light);
}

[slim] ui-menu-item[icon="done"]:not(:hover) {
	color: var(--light);
	background:var(--theme);
}
ui-menu[slim] ui-menu-item[icon="done"]:not(:hover) ui-icon {
	color: var(--light);
}

ui-file-item[active] {
	background: var(--theme);
	color: var(--light);
}

ui-file-item[icon=javascript] ui-icon:first-child { color:#cd0; }
ui-file-item[icon=css] ui-icon:first-child { color:#0ca; }
ui-file-item[icon=html] ui-icon:first-child { color:#d77; }
ui-file-item[icon=php] ui-icon:first-child { color:#b0b; }
ui-file-item[icon=data_object] ui-icon:first-child { var(--light); opacity: 0.75; }
ui-file-item[icon=image_not_supported] ui-icon:first-child { var(--light); opacity: 0.33; }


ui-file-item[active] ui-icon:first-child { color: var(--light); }


#tabs {
	position:absolute;
	top:var(--menuHeight) !important;
	left:0;
	right:0;
	background: var(--light);
	display:flex;
	overflow-x: auto;
    box-sizing: border-box;
    border-bottom:2px solid var(--theme);
}

/*#tabs ui-tab-item {*/
/*	display:inline-block;*/
	/*min-width:128px;*/
/*	height:calc(var(--tabHeight) -4);*/
/*	background: var(--mid);*/
/*	border-radius:var(--tabRadius);*/
/*	margin:0px 1px;*/
/*	padding:0 24px 0 5px;*/
/*	line-height:var(--tabHeight);*/
/*}*/

#files {
	z-index:5;
	opacity:0;
	background:var(--light);
	position:absolute;
	width:256;
	left:-256;
	top:var(--menuHeight) !important;
	bottom: var(--statusHeight);
	overflow:auto;
	pointer-events:none;
}

#tabs, #files, #ui_editor, #statusbar, ui-actionbar, ui-file-list {
	transition:left var(--animRate), right var(--animRate), opacity var(--animRate), background var(--animRate), color var(--animRate);
}

#statusbar {
	position:absolute;
	left:0;
	right:0;
	bottom:0 !important;
	top:auto !important;
	z-index:6;
}
#statusbar #cursor_pos {
	margin-left: 8px;
}


#statusbar ui-button {
	color: inherit;
}
#statusbar ui-button ui-icon {
	color: inherit;
}

#ace_settingsmenu *,
#kbshortcutmenu *{
	color: inherit;
}


.darkmode,
.darkmode ui-menu,
.darkmode #tabs,
.darkmode #files,
.darkmode #statusbar,
.darkmode #ace_settingsmenu,
.darkmode #kbshortcutmenu,
.darkmode ui-panel,
.darkmode ui-file-list,
.darkmode ui-actionbar {
	background: var(--dark);
	color: var(--mid);
}

.darkmode ui-actionbar {
	color: var(--light); 
}

.darkmode #ace_settingsmenu input,
.darkmode #ace_settingsmenu select,
.darkmode #ace_settingsmenu button {
	background: var(--mid);
	color: var(--dark);
}

.darkmode ui-tabbar[slim]>ui-tab-item:not([active]):hover {
	background: var(--low);
}


.showFiles #tabs,
.showFiles #ui_editor {
	left:256;
}
.showFiles #files {
	opacity:1;
	left: 0;
	pointer-events:auto;
}

.showThumb #ui_editor {
	right:128;
}
	

#omni {
	position:fixed;
	z-index:10;
	width:400px;
	height:90px;
	left:50%;
	top:4px;
	margin-left:-200px;
	border-radius:4px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
	background:#fff;
	
	transition: transform 200ms ease-in-out, opacity 200ms ease-in-out;
	transform: scale(1,0);
	opacity:0;
}

.ace_search {
	position:fixed;
	z-index:10;
	width:600px;
	height:80px;
	left:50%;
	top:4px;
	margin-left:-300px;
	border-radius:4px !important;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
	background:#fff;
}


#omni.active {
    transform: scale(1,1);
    opacity:1;
}

#omni ui-block {
	text-align:center;
	padding:4px 8px;
}

#omni ui-block:first-of-type {
	font-size:1.5em;
}
#omni ui-inline {
	text-align:center;
}

#omni ui-input {
	display:block;
	box-sizing: border-box;
	width:100%;
	padding:4px 16px;
}

#omni ui-input input {
	width:100%;
	border:none;
	border-bottom:2px solid var(--theme);
	outline:none;
	font-size: 1.3em;
}

#omni .results {
	position:fixed;
	width:400px;
	max-height:400px;
	overflow:auto;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
	background:#fff;
	top: 100px;
	z-index:10;
	
	border-radius:4px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.25);
	background:#fff;
}
#omni .results ui-block {
	text-align:left;
	border-bottom: 1px solid var(--ui-shadow);
}

/*#omni .results ui-block.active {*/
/*	color: var(--low);*/
/*	background: var(--high);*/
/*}*/

#omni .results ui-block.active {
	color:#fff;
	background: var(--theme);
	cursor:pointer;
}
#omni .results ui-block b {
	background: rgba(0,0,0,0.05);
}

@media (max-width:799px) {
	.showFiles #ui_editor { left: 0; }
}